body {
    background-image: url(imagen12.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
h1 {
    font-family: 'Arial Black', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18em;
    text-shadow: 8px 8px 16px #FFFFFF;
    text-align: center;
    line-height: 20px;
}

.imagen-grande {
    width: 1200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    box-shadow: 10px 10px 20px #1100ff;
    align-items: center;
}
.imagen-mediana {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    box-shadow: 10px 10px 20px #1100ff;
    align-items: center;
}
.imagen-pequena {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    box-shadow: 10px 10px 20px #1100ff;
    text-align: center;
}
iframe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    box-shadow: 10px 10px 20px #1100ff;
    justify-content: center;
    align-items: center;
}
span {
    font-family: 'Arial Black', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-shadow: 4px 4px 8px #000000;
    text-align: center;
    line-height: 20px;
}
h2 {
    font-family: 'Arial Black', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 10em;
    text-shadow: 8px 8px 16px #FFFFFF;
    text-align: center;
    line-height: 20px;
}
h3 {
    font-family: 'Arial Black', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 10em;
    text-shadow: 8px 8px 16px #000000;
    text-align: center;
    line-height: 20px;
}