body {
    background-image: url(imagen12.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    box-shadow: 10px 10px 20px #1100ff;
}

.imagen-grande {
    width: 80%;
    max-width: 1200px;
    height: auto;
}

.imagen-mediana {
    width: 50%;
    max-width: 600px;
    height: auto;
}

.imagen-pequena {
    width: 20%;
    max-width: 200px;
    height: auto;
}

h1 {
    font-family: 'Arial Black', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 5em;
    text-shadow: 8px 8px 16px #FFFFFF;
    text-align: center;
    line-height: normal;
}
h2 {
    font-family: 'Arial Black', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    text-shadow: 8px 8px 16px #FFFFFF;
    text-align: center;
    line-height: normal;
}
h3 {
    font-family: 'Arial Black', sans-serif;
    color: rgb(255, 238, 0);
    font-size: 2.5em;
    text-shadow: 8px 8px 16px #000000;
    text-align: center;
    line-height: normal;
}
span {
    font-family: 'Arial Black', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-shadow: 4px 4px 8px #000000;
    text-align: center;
    line-height: normal;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    box-shadow: 10px 10px 20px #1100ff;
    width: 80%;
    height: 450px;
}