body {
    background-image: url(imagen12.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial Black', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 10em;
    text-shadow: 8px 8px 16px #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
p {
    font-family: 'Arial Black', sans-serif;
    color: rgb(255, 230, 0);
    font-size: 80px;
    text-shadow: 16px 16px 32px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-grande {
    width: 1200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    box-shadow: 10px 10px 20px #1100ff;
    text-align: center;
}
.imagen-mediana {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    box-shadow: 10px 10px 20px #1100ff;
    text-align: center;
}
label {
    float: right;
    font-family: 'Arial Black', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 8px 8px 16px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    font-family: 'Arial Black', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-shadow: 16px 16px 32px #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    font-family: 'Arial Black', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 80px;
    text-shadow: 8px 8px 16px #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-pequena {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    box-shadow: 10px 10px 20px #1100ff;
    text-align: center;
}
iframe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    box-shadow: 10px 10px 20px #1100ff;
    justify-content: center;
    align-items: center;

}
