body {
    background-image: url(imagen12.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.imagen-grande {
    width: 80%;
    max-width: 1200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #2600ff 5px solid;
    box-shadow: 10px 10px 20px #000000;
}

.imagen-mediana {
    width: 50%;
    max-width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #2600ff 5px solid;
    box-shadow: 10px 10px 20px #000000;
}

.imagen-pequena {
    width: 20%;
    max-width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #2600ff 5px solid;
    box-shadow: 10px 10px 20px #000000;
}

h1 {
    font-family: 'Arial Black', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 5em;
    text-shadow: 8px 8px 16px #ffffff;
    text-align: center;
    line-height: normal;
}
h2 {
    font-family: 'Arial Black', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    text-shadow: 8px 8px 16px #ffffff;
    text-align: center;
    line-height: normal;
}
h3 {
    font-family: 'Arial Black', sans-serif;
    color: rgb(255, 238, 0);
    font-size: 2.5em;
    text-shadow: 8px 8px 16px #2600ff;
    text-align: center;
    line-height: 15px;
}
h4 {
    font-family: 'Arial Black', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-shadow: 8px 8px 16px #000000;
    text-align: center;
    line-height: 1px;
}
span {
    font-family: 'Arial Black', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-shadow: 8px 8px 16px #000000;
    text-align: center;
    line-height: 15px;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    box-shadow: 10px 10px 20px #2600ff;
    width: 80%;
    height: 450px;
}
p {
    font-family: 'Arial', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1em;
    text-shadow: 8px 8px 16px #2600ff;
    text-align: center;
    line-height: normal;
}